<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <title>缘天金服,苏州本土金融平台，本着普惠金融，服务姑苏的理念为您提供安全、高效的互联网理财服务-www.chinaytjf.com</title>
    <link href="public/css/common.css" rel="stylesheet"/>
    <link href="public/css/index.css" rel="stylesheet"/>
    <link href="public/css/font/font-style.css" rel="stylesheet"/>
</head>
<body>
<div class="header">
    <div class="header-top clear-both">
        <div class="container">
            <div class="block-2">
                <span>
                    <span class="iconfont icon-zhuye"></span>
                    欢迎来到缘天金服
                </span>
                <a class="a">
                    <!--<span class="iconfont icon-login"></span>-->
                    登录
                </a>
                <a class="a">
                    <!--<span class="iconfont icon-register"></span>-->
                    注册
                </a>
                <a class="a">
                    <!--<span class="iconfont icon-login"></span>-->
                    你好，xxxx
                </a>
            </div>
            <div class="block-2 text-right">
                <a class="a">
                    <!--<span class="iconfont icon-guanyu"></span>-->关于我们</a>
                <a class="a">
                    <!--<span class="iconfont icon-changjianwenti"></span>-->常见问题
                </a>
                <a class="a">
                    <span class="iconfont icon-xiazai"></span>下载app
                    <img src="public/img/ercode.png" class="response-img-width hidden"/>
                </a>
                <a class="a">
                    <span class="iconfont icon-weixingongzhonghao"></span>微信公众号</a>
                <a class="a">
                    <span class="iconfont icon-dianhua"></span>400-606-3322</a>
            </div>
        </div>

    </div>
    <div class="header-content background-fff clear-both">
        <div class="nav container">
            <div class="logo">
                <img src="public/img/76fd0bec.logo.png" class="logo-image response-img-height">
            </div>
            <ul class="nav-content clear-both">
                <li>首页</li>
                <li>我要理财</li>
                <li>安全保障</li>
                <li>关于我们</li>
                <li>
                    <span class="iconfont icon-login"></span>
                    <a class="my-account">我的账户</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="banner">
    <!--<div style="background-image: url('./public/img/ptop.jpg')" class="image"></div>-->
    <div style="background-image: url('./public/img/report.jpg')" class="image"></div>
    <div class="container">
        <div class="login">
            <div class="intro">预期年化收益</div>
            <div class="info">6%~15%</div>
            <div class="button a">立即注册，领取红包</div>
            <div class="tip">已有账号，<a class="main-color">立即登录</a></div>
        </div>
    </div>
</div>
<div class="background-fff">
    <div class="container">
        <ul class="statistic clear-both">
            <li class="clear-both">
                <span class="iconfont icon-gaikuang"></span>
                <div class="word">
                    <p>成交总金额</p>
                    <p class="main-color">1231412341231元</p>
                </div>
            </li>
            <li class="clear-both">
                <span class="iconfont icon-zongshouyi"></span>
                <div class="word">
                    <p>出借人总收益</p>
                    <p class="main-color">1231412341231元</p>
                </div>
            </li>
            <li class="clear-both">
                <span class="iconfont icon-save"></span>
                <div class="word">
                    <p>安全运营</p>
                    <p class="main-color">1231412341231元</p>
                </div>
            </li>
            <li class="clear-both">
                <span class="iconfont icon-renshu"></span>
                <div class="word">
                    <p>注册人数</p>
                    <p class="main-color">1231412341231元</p>
                </div>
            </li>
            <li>
                <div class="del">
                    <a class="href-color">点击详情</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="notice">
    <div class="container clear-both">
        <div class="block-2">
            <div class="notice-title">
                <span class="iconfont icon-renshu"></span>最新公告
                <a class="float-right href-color">更多</a>
            </div>
            <ul class="notice-content">
                <li class="clear-both">
                    <p class="block-2">标题</p>
                    <p class="block-2 text-right">日期</p>
                </li>
                <li class="clear-both">
                    <p class="block-2">标题</p>
                    <p class="block-2 text-right">日期</p>
                </li>
                <li class="clear-both">
                    <p class="block-2">标题</p>
                    <p class="block-2 text-right">日期</p>
                </li>
                <li class="clear-both">
                    <p class="block-2">标题</p>
                    <p class="block-2 text-right">日期</p>
                </li>
                <li class="clear-both">
                    <p class="block-2">标题</p>
                    <p class="block-2 text-right">日期</p>
                </li>
            </ul>
        </div>
        <div class="block-2">
            <div class="notice-title">
                <span class="iconfont icon-renshu"></span>最新投资
                <a class="float-right href-color">更多</a>
            </div>
            <ul class="notice-content">
                <li class="clear-both">
                    <p class="block-2">人名</p>
                    <p class="block-2 text-right">日期</p>
                </li>
                <li class="clear-both">
                    <p class="block-2">人名</p>
                    <p class="block-2 text-right">日期</p>
                </li>
                <li class="clear-both">
                    <p class="block-2">人名</p>
                    <p class="block-2 text-right">日期</p>
                </li>
                <li class="clear-both">
                    <p class="block-2">人名</p>
                    <p class="block-2 text-right">日期</p>
                </li>
                <li class="clear-both">
                    <p class="block-2">人名</p>
                    <p class="block-2 text-right">日期</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="newPeople">
        <div class="block-2-20 height-full">
            <div class="login">
                <div class="intro">新手专享</div>
                <!--<div class="info main-color">13.5%</div>-->
                <div class="bubble clear-both">
                    <div class="block">
                        <span class="iconfont icon-shouyi"></span>利率收益高
                    </div>
                    <div class="block">
                        <span class="iconfont icon-huikuan"></span>回款速度快
                    </div>
                    <div class="block">
                        <span class="iconfont icon-menkan"></span>起投门槛低
                    </div>
                    <div class="block">
                        <span class="iconfont icon-youhui"></span>产品优惠多
                    </div>
                </div>
            </div>
        </div>
        <div class="block-2-55 height-full">
            <div class="newPeople-title clear-both">
                <div class="block-2">
                    新手理财专享特惠
                    <span class="tip"> NEW </span>
                </div>
                <div class="block-2 text-right">
                    <a class="href-color">如何投资？</a>
                </div>
            </div>
            <div class="newPeople-content clear-both">
                <div class="block-2-30 text-center">
                    <div class="year-get">
                        <p class="rate">13.5<span class="small">%</span></p>
                        <p>年化利率</p>
                    </div>
                </div>
                <div class="block-2">
                    <div class="bar">
                        <span class="progress">
                            <span class="percent"></span>
                        </span>
                        50%
                    </div>
                </div>
                <div class="block-2-20 text-center">
                    <a class="button">立即投资</a>
                </div>
            </div>
        </div>
        <div class="block-2-25 height-full">
            <div class="height-full question">
                <p class="question-title">
                    <span class="iconfont icon-login"></span>常见问题
                    <a class="float-right href-color">更多</a>
                </p>
                <ul>
                    <li>问题1</li>
                    <li>问题2</li>
                    <li>问题3</li>
                    <li>问题1</li>
                    <li>问题2</li>
                    <li>问题3</li>
                    <li>问题1</li>
                    <li>问题2</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="product">
        <a class="more href-color">更多</a>
        <div class="block-2-20 height-full">
            <div class="login">
                <div class="intro">理财专柜</div>
                <!--<div class="info main-color">13.5%</div>-->
                <div class="bubble clear-both">
                    <div class="block">
                        <span class="iconfont icon-shouyi"></span>实物抵押
                    </div>
                    <div class="block">
                        <span class="iconfont icon-huikuan"></span>安全放心
                    </div>
                    <div class="block">
                        <span class="iconfont icon-menkan"></span>收益明显
                    </div>
                    <div class="block">
                        <span class="iconfont icon-youhui"></span>活动多多
                    </div>
                </div>
            </div>
        </div>
        <div class="block-2-20 height-full">
            <div class="product-common">
                <div class="product-mask"></div>
                <div class="clear-both title">
                    <div class="block-2">
                        缘天定存
                    </div>
                    <div class="block-2 text-right">
                        千元起投
                    </div>
                </div>
                <div class="info">
                    <div class="info-content">
                        <p class="rate">8<span class="small">%</span>-14<span class="small">%</span></p>
                        <p>每月定存，逐月增息</p>
                    </div>
                </div>
                <div class="button">
                    <a>立刻投资</a>
                </div>
            </div>
        </div>
        <div class="block-2-20 height-full">
            <div class="product-common">
                <div class="clear-both title">
                    <div class="block-2">
                        活期宝
                    </div>
                    <div class="block-2 text-right">
                        一元起投
                    </div>
                </div>
                <div class="info">
                    <div class="info-content">
                        <p class="rate">5<span class="small">%</span></p>
                        <p class="bar">
                            <span class="progress">
                                <span class="percent"></span>
                            </span>
                            50%
                        </p>
                        <p>每月定存，逐月增息</p>
                    </div>
                </div>
                <div class="button">
                    <a>立刻投资</a>
                </div>
            </div>
        </div>
        <div class="block-2-20 height-full">
            <div class="product-common">
                <div class="clear-both title">
                    <div class="block-2">
                        定期宝
                    </div>
                    <div class="block-2 text-right">
                        千元起投
                    </div>
                </div>
                <div class="info">
                    <div class="info-content">
                        <p class="rate">6<span class="small">%</span>-15<span class="small">%</span></p>
                        <p>到期一次性返还本息</p>
                    </div>
                </div>
                <div class="button">
                    <a>立刻投资</a>
                </div>
            </div>
        </div>
        <div class="block-2-20 height-full">
            <div class="product-common">
                <div class="clear-both title">
                    <div class="block-2">
                        月利通
                    </div>
                    <div class="block-2 text-right">
                        千元起投
                    </div>
                </div>
                <div class="info">
                    <div class="info-content">
                        <p class="rate">10<span class="small">%</span>-14<span class="small">%</span></p>
                        <p>本月反息，到期还本</p>
                    </div>
                </div>
                <div class="button">
                    <a>立刻投资</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="creditor">
        <a class="more href-color">更多</a>
        <div class="block-2-20 height-full">
            <div class="login">
                <div class="intro">债券推荐</div>
                <!--<div class="info main-color">13.5%</div>-->
                <div class="bubble clear-both">
                    <div class="block">
                        <span class="iconfont icon-shouyi"></span>真实可靠
                    </div>
                    <div class="block">
                        <span class="iconfont icon-huikuan"></span>百元起投
                    </div>
                    <div class="block">
                        <span class="iconfont icon-menkan"></span>稳定收益
                    </div>
                    <div class="block">
                        <span class="iconfont icon-youhui"></span>协议齐全
                    </div>
                </div>
            </div>
        </div>
        <div class="block-2-80 height-full">
            <div class="block-3 height-full">
                <div class="creditor-common">
                    <div class="product-mask"></div>
                    <div class="creditor-content">
                        <div class="title">
                            【债权转让-车】3月期-20170222
                        </div>
                        <div class="clear-both info">
                            <div class="block-2">
                                <span class="rate">7.5</span><span class="small">%</span>
                            </div>
                            <div class="block-2">
                                <span class="rate">3</span><span class="small">个月</span>
                            </div>
                        </div>
                        <p class="bar">
                        <span class="progress">
                            <span class="percent"></span>
                        </span>
                            50%
                        </p>
                    </div>
                    <div class="button">
                        <a>立刻投资</a>
                    </div>
                </div>
            </div>
            <div class="block-3 height-full">
                <div class="creditor-common">
                    <div class="product-mask"></div>
                    <div class="creditor-content">
                        <div class="title">
                            【债权转让-车】3月期-20170222
                        </div>
                        <div class="clear-both info">
                            <div class="block-2">
                                <span class="rate">7.5</span><span class="small">%</span>
                            </div>
                            <div class="block-2">
                                <span class="rate">3</span><span class="small">个月</span>
                            </div>
                        </div>
                        <p class="bar">
                        <span class="progress">
                            <span class="percent"></span>
                        </span>
                            50%
                        </p>
                    </div>
                    <div class="button">
                        <a>立刻投资</a>
                    </div>
                </div>
            </div>
            <div class="block-3 height-full">
                <div class="creditor-common">
                    <div class="product-mask"></div>
                    <div class="creditor-content">
                        <div class="title">
                            【债权转让-车】3月期-20170222
                        </div>
                        <div class="clear-both info">
                            <div class="block-2">
                                <span class="rate">7.5</span><span class="small">%</span>
                            </div>
                            <div class="block-2">
                                <span class="rate">3</span><span class="small">个月</span>
                            </div>
                        </div>
                        <p class="bar">
                        <span class="progress">
                            <span class="percent"></span>
                        </span>
                            50%
                        </p>
                    </div>
                    <div class="button">
                        <a>立刻投资</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="cooperation">
        <p>合作伙伴</p>
        <ul class="clear-both">
            <li class="block-2-20">
                <a href="http://www.cfca.com.cn/" title="CFCA">
                    <img alt="" src="./public/img/cooperation/logo-04.png">
                </a>
            </li>
            <li class="block-2-20">
                <a href="http://www.fuiou.com/" title="富友">
                    <img alt="" src="./public/img/cooperation/logo-01.png">
                </a>
            </li>
            <li class="block-2-20">
                <a href="http://www.chinaytjf.com/" title="招商银行">
                    <img alt="" src="./public/img/cooperation/logo-02.png">
                </a>
            </li>
            <li class="block-2-20">
                <a href="http://www.chinaytjf.com/" title="建设银行">
                    <img alt="" src="./public/img/cooperation/logo-09.png">
                </a>
            </li>
            <li class="block-2-20">
                <a href="https://www.aliyun.com/" title="阿里云">
                    <img alt="" src="./public/img/cooperation/logo-05.png">
                </a>
            </li>
            <li class="block-2-20">
                <a href="http://www.anquan.org/" title="安全联盟">
                    <img alt="" src="./public/img/cooperation/logo-10.jpg">
                </a>
            </li>

            <li class="block-2-20">
                <a href="http://www.donghenglaw.com/" title="东恒律师事务所">
                    <img alt="" src="./public/img/cooperation/logo-08.jpg">
                </a>
            </li>
            <li class="block-2-20">
                <a href="http://www.p2pchina.com/" title="网贷中国">
                    <img alt="" src="./public/img/cooperation/logo-06.jpg">
                </a>
            </li>

            <li class="block-2-20">
                <a href="http://www.wdzj.com/" title="网贷之家">
                    <img alt="" src="./public/img/cooperation/logo-03.png">
                </a>
            </li>
            <li class="block-2-20">
                <a href="http://www.p2peye.com/" title="网贷天眼">
                    <img alt="" src="./public/img/cooperation/logo-07.jpg">
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>